/.idea/
/venv/
/my_work/.idea/
/Новая папка/
/shcherbatykh_vasiliy_dz1.zip
/shcherbatykh_vasiliy_dz_2.zip
/shcherbatykh_vasiliy_dz_3.zip
/shcherbatykh_vasiliy_dz_4.zip
/shcherbatykh_vasiliy_dz1/
/shcherbatykh_vasiliy_dz_2/
/shcherbatykh_vasiliy_dz_3/
/shcherbatykh_vasiliy_dz_4/
/shcherbatykh_vasiliy_dz_5/
/source/
/shcherbatykh_vasiliy_dz_5.zip
/shcherbatykh_vasiliy_dz_6.zip
/shcherbatykh_vasiliy_dz_6/readme.txt
/source/geekshop/
/source/geekshop/
/shcherbatykh_vasiliy_dz_6/
/my_work/geekshop/.idea/
/shcherbatykh_vasiliy_dz_7/
/shcherbatykh_vasiliy_dz_7/
/shcherbatykh_vasiliy_dz_7/geekshop/
/shcherbatykh_vasiliy_dz_7.zip
/shcherbatykh_vasiliy_dz_8/
/shcherbatykh_vasiliy_dz_8/
