/.idea/
/venv/
/my_work/.idea/
/Новая папка/
/shcherbatykh_vasiliy_dz1.zip
/shcherbatykh_vasiliy_dz_2.zip
/shcherbatykh_vasiliy_dz_3.zip
/shcherbatykh_vasiliy_dz_4.zip
/shcherbatykh_vasiliy_dz1/
/shcherbatykh_vasiliy_dz_2/
/shcherbatykh_vasiliy_dz_3/
/shcherbatykh_vasiliy_dz_4/
/shcherbatykh_vasiliy_dz_5/
