{% extends 'authapp/base.html' %}
{% load static %}


{% block container %}
<div class="h2 text-center head">
     регистрация
</div>
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul class="login-form">
        <li>
            {{ form.as_ul }}
        </li>
        <li>
            <br>
            <input class="form-control val" type="submit" value="зарегистрироваться">
        </li>
    </ul>
</form>
<a href="{% url 'main:index' %}"
   class="btn-auth">
    на главную
</a>

{% endblock %}