{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="genre_delete">
        Уверены, что хотите удалить <b>{{ object.username }}
        {% if object.first_name %}
            ({{ object.first_name|title }}
                {% if object.last_name %}
                    {{ object.last_name|title }}
                {% endif %})
        {% endif %}</b>?
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <a href="{% url 'adminapp:categories' %}" class="btn btn-success">
            отмена
        </a>
    </div>
{% endblock %}