{% load static %}

<div class="header clearfix">
    <a href="#"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
    <ul class="menu clearfix">
        <li class="menu-list"><a href="{% url 'index' %}" class="menu-link menu-link-active">ГЛАВНАЯ</a></li>
        <li class="menu-list"><a href="{% url 'product' %}" class="menu-link">КАТАЛОГ</a></li>
        <li class="menu-list"><a href="#" class="menu-link">ЛИЧНЫЙ КАБИНЕТ</a></li>
        <li class="menu-list"><a href="{% url 'contact' %}" class="menu-link">КОНТАКТЫ</a></li>
        <li class="menu-list">
            <a href="#" class="menu-search"><img src="{% static 'img/search.svg' %}" alt="logo"></a>
            <a href="#" class="menu-search"><img src="{% static 'img/basket.png' %}" alt="logo"></a>
        </li>
    </ul>
</div>
