{% load static %}

<div class="header clearfix">
    <a href="#"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
    <ul class="menu clearfix">
        {% for link in links_menu %}
        <li class="menu-list">
            <a href="{% url link.href %}"
               class="menu-link
{% if request.resolver_match.view_name == link.href or request.resolver_match.url_name == 'catalog_page' and link.name == 'каталог' %}
                               menu-link-active
                            {% endif %}">
                {{ link.name }}
            </a>
        </li>
        {% endfor %}

        {% if user.is_authenticated %}
        <li class="menu-list">
            <a href="{% url 'auth:update' %}" class="menu-link">
                {{ user.first_name|default:'пользователь'|title }}
            </a>
        </li>
        {% endif %}

        {% if user.is_superuser %}
        <li class="menu-list">
            <a href="{% url 'adminapp:index' %}" class="menu-link">
                админка
            </a>
        </li>
        {% endif %}

        <li class="menu-list">
            {% if user.is_authenticated %}

            <a href="{% url 'auth:logout' %}" class="menu-link">выйти</a>
            {% else %}
            <a href="{% url 'auth:login' %}" class="menu-link">вход</a>

            {% endif %}
        </li>


        <li class="menu-list">
            <a href="#" class="menu-search"><img src="{% static 'img/search.svg' %}" alt="logo"></a>
            <a href="{% url 'basket:index' %}" class="menu-search">
                <img src="{% static 'img/basket.png' %}" alt="logo">
                ({{ user.basket_total_cost|floatformat:0 }} руб) {{ user.basket_total_qty }} шт
            </a>
        </li>
    </ul>
</div>
