{% extends 'mainapp/base.html' %}
{% load static %}
{% block conteiner %}

<div class="slider-contact padding-site clearfix">
    {% include 'mainapp/includes/inc__main_menu.html' %}
    <div class="contact-us">Наши контакты</div>

</div>
<div class="row main-contact" id="contact-1">
    {% if locations %}
    {% for item in locations %}
    <div class="col-4 col-contact">
        <div class="icomoon"><img src="{% static 'img/icomoon.png' %}" alt="icomoon"></div>
        <div class="icomoon-h3">{{ item.city }}</div>
        <div class="icomoon-p">Phone: <br>
            <span class="b-contact">{{ item.phone }}</span> <br>
            Email: <br>
            <span class="b-contact">{{ item.mail }}</span><br>
            Address: <br>{{ item.address }}
        </div>
        {% endfor %}

    </div>
    {% else %}
        <h3>Данные загружаються</h3>
    {% endif %}

</div>


{% endblock %}