{% extends 'mainapp/base.html' %}
{% load static %}

{% block conteiner %}

<div class="slider padding-site clearfix">
    <div class="header clearfix">
        <a href="#"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
        <ul class="menu clearfix">
            <li class="menu-list"><a href="/" class="menu-link menu-link-active">ГЛАВНАЯ</a></li>
            <li class="menu-list"><a href="/product/" class="menu-link">КАТАЛОГ</a></li>
            <li class="menu-list"><a href="#" class="menu-link">ЛИЧНЫЙ КАБИНЕТ</a></li>
            <li class="menu-list"><a href="/contact/" class="menu-link">КОНТАКТЫ</a></li>
            <li class="menu-list">
                <a href="#" class="menu-link menu-search">поиск</a>
            </li>
        </ul>
    </div>
    <div class="slider-text">
        <p class="slider-trending">НОВИНКИ</p>
        <h2 class="slider-h2">бестселлеры</h2>
        <p class="slider-content">Самые покупаемые книги</p> <a href="#" class="buttom">Заказать</a></div>
    <div class="paagination">
        <a href="#" class="cirlce"></a>
        <a href="#" class="cirlce cirlce-active"></a>
        <a href="#" class="cirlce"></a>
    </div>
</div>
<div class="featured"><a href="#" class="featured-a3">Рекомендуемые</a> <a href="#" class="featured-new">Новые</a>
    <!-- невидимый div-->
    <div class="featured-new2">Новые</div>
    <a href="#" class="explore featured-explore">показать все</a>
    <ul class="featured-product">
        <li class="featured-li">
            <a href="#" class="feature-link feature-list product-1 feature-product"></a>
        </li>
        <li class="featured-li">
            <a href="#" class="feature-link feature-list product-2 feature-product"></a>
        </li>
        <li class="featured-li">
            <a href="#" class="feature-link feature-list product-3 feature-product"></a>
        </li>
        <li class="featured-li">
            <a href="#" class="feature-link feature-list product-4 feature-product"></a>
        </li>
    </ul>
</div>
<div class="exclusive clearfix">
    <div class="left-exclusive">
        <p class="p-exclusive margin-exclusive">бестселлер</p>
        <h3 class="exclusive-h2">Марк Лутц</h3>
        <p class="exclusive-content margin-exclusive">Изучаем Python. 3-е издание</p> <a href="#"
                                                                                         class="buttom margin-exclusive">Заказать</a>
    </div>
    <div class="right-exclusive">
        <p class="p-exclusive margin-exclusive">бестселлер</p>
        <h3 class="exclusive-h2">Гарри Поттер</h3>
        <p class="exclusive-content margin-exclusive">Вся серия</p> <a href=""
                                                                       class="buttom margin-exclusive">Заказать</a>
    </div>
</div>
<div class="trending  clearfix">
    <h3 class="H3 trending-h3">Популярные</h3> <a href="#" class="explore trending-explore">показать все</a>
    <table class="trending-table">
        <tr class="tredding-tr">
            <td class="treding-td">
                <a href="#" class="treding-a"><img src="{% static 'img/product-11.jpg' %}" alt="foto" class="treding-img"></a>
            </td>
            <td class="treding-td">
                <a href="#" class="treding-a"><img src="{% static '/img/product-21.jpg' %}" alt="foto" class="treding-img"></a>
            </td>
            <td class="treding-td">
                <a href="#" class="treding-a"><img src="{% static 'img/product-31.jpg' %}" alt="foto" class="treding-img"></a>
            </td>
        </tr>
        <tr class="tredding-tr">
            <td class="treding-td">
                <a href="#" class="treding-a"><img src="{% static 'img/product-41.jpg' %}" alt="foto" class="treding-img"></a>
            </td>
            <td class="treding-td">
                <a href="#" class="treding-a"><img src="{% static 'img/product-5.jpg' %}" alt="foto" class="treding-img"></a>
            </td>
            <td class="treding-td">
                <a href="#" class="treding-a"><img src="{% static 'img/product-6.jpg' %}" alt="foto" class="treding-img"></a>
            </td>
        </tr>
    </table>
</div>
<div class="hot-deal  clearfix">
    <p class="hot-deal-hot-deal">Горячее предложение</p>
    <h2 class="hot-deal-h2">Скидки 50%</h2>
    <p class="hot-deal-content">Купи пять по цене трех и получи подарок</p> <a href="" class="buttom hot-deal-buttom">Заказать</a>
    <div class="hot-deal-pagination">
        <a href="#" class="cirlce"></a>
        <a href="#" class="cirlce cirlce-active"></a>
        <a href="#" class="cirlce"></a>
    </div>
</div>
<div class="exclusive-second clearfix">
    <table class="exlusive-second-table">
        <tr>
            <td class="exclusive-second-td1" rowspan="2"><img src="{% static 'img/product-1-lg.jpg' %}" alt="foto">
                <p class="exclusive-exclusive-second">издание 1966 года</p>
                <h3 class="h3-exclusive-second">И.А. Гончаров</h3>
                <p class="p-exclusive-second">Полное собрание сочинений</p> <a href="#" class="buttom margin-exclusive">Заказать</a>
            </td>
            <td class="exclusive-second-td">
                <a href="#" class="exclusive-second-link"><img src="{% static 'img/product-2-sm.jpg' %}" alt="foto"
                                                               class="exclusive-second-img"></a>
            </td>
            <td class="exclusive-second-td">
                <a href="#" class="exclusive-second-link"><img src="{% static 'img/product-3-sm.jpg' %}" alt="foto"
                                                               class="exclusive-second-img"></a>
            </td>
        </tr>
        <tr>
            <td class="exclusive-second-td2">
                <a href="#" class="exclusive-second-link"><img src="{% static 'img/product-4-sm.jpg' %}" alt="foto"
                                                               class="exclusive-second-img"></a>
            </td>
            <td class="exclusive-second-td2">
                <a href="#" class="exclusive-second-link"><img src="{% static 'img/product-5-sm.jpg' %}" alt="foto"
                                                               class="exclusive-second-img"></a>
            </td>
        </tr>
    </table>
</div>
<div class="mobule">
    <p class="p-mobule">mobile app</p>
    <h3 class="mobule-h2">Установите наше приложение</h3>
    <p class="mobule-content">Покупайте и читайте в любом месте</p>
    <a href="" class="mobule-app"><img src="{% static 'img/app-store.jpg' %}" alt="link"></a>
    <a href="" class="mobule-google"><img src="{% static 'img/google-play.jpg' %}" alt="link"></a>
</div>

{% endblock %}