{% extends 'mainapp/base.html' %}
{% load static %}

{% block conteiner %}

<div class="slider-contact padding-site clearfix">
    <div class="header clearfix">
        <a href="#"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
        <ul class="menu clearfix">
            <li class="menu-list"><a href="/" class="menu-link">ГЛАВНАЯ</a></li>
            <li class="menu-list"><a href="/product/" class="menu-link menu-link-active">КАТАЛОГ</a></li>
            <li class="menu-list"><a href="#" class="menu-link">ЛИЧНЫЙ КАБИНЕТ</a></li>
            <li class="menu-list"><a href="/contact/" class="menu-link">КОНТАКТЫ</a></li>
            <li class="menu-list">
                <a href="#" class="menu-link menu-search">поиск</a>
            </li>
        </ul>
        <div class="contact-us-product">Наши книги</div>
    </div>
</div>
<div class="product-menu">
    <ul class="product-menu-ul">
        <li class="product-menu-lict-active"><a href="product-deails.html" class="product-a">ВСЕ</a></li>
        <li class="product-menu-lict"><a href="#" class="product-a">РОМАНЫ</a></li>
        <li class="product-menu-lict"><a href="#" class="product-a">ФАНТАСТИКА</a></li>
        <li class="product-menu-lict"><a href="#" class="product-a">ФЭНТАЗИ</a></li>
        <li class="product-menu-lict"><a href="#" class="product-a">НАУЧНАЯ ЛИТЕРАТУРА</a></li>
        <li class="product-menu-lict"><a href="#" class="product-a">КЛАССИКА</a></li>
    </ul>
</div>
<div class="product-block">
    <div class="row product-catalog">
        <col-4 class="product-catalog-col">
            <a href="#"><img src="{% static 'img/product-11.jpg' %}" alt="foto"></a>
        </col-4>
        <col-4 class="product-catalog-col">
            <a href="#"><img src="{% static 'img/product-21.jpg' %}" alt="foto"></a>
        </col-4>
        <col-4 class="product-catalog-col">
            <a href="#"><img src="{% static 'img/product-31.jpg' %}" alt="foto"></a>
        </col-4>
    </div>
    <div class="row product-catalog">
        <col-4 class="product-catalog-col">
            <a href="#"><img src="{% static 'img/product-41.jpg' %}" alt="foto"></a>
        </col-4>
        <col-4 class="product-catalog-col">
            <a href="#"><img src="{% static 'img/product-5.jpg' %}" alt="foto"></a>
        </col-4>
        <col-4 class="product-catalog-col">
            <a href="#"><img src="{% static 'img/product-6.jpg' %}" alt="foto"></a>
        </col-4>
    </div>
    <div class="row product-catalog">
        <col-4 class="product-catalog-col">
            <a href="#"><img src="{% static 'img/product-11.jpg' %}" alt="foto"></a>
        </col-4>
        <col-4 class="product-catalog-col">
            <a href="#"><img src="{% static 'img/product-21.jpg' %}" alt="foto"></a>
        </col-4>
        <col-4 class="product-catalog-col">
            <a href="#"><img src="{% static 'img/product-31.jpg' %}" alt="foto"></a>
        </col-4>
    </div>
    <div class="row product-catalog">
        <col-4 class="product-catalog-col">
            <a href="#"><img src="{% static 'img/product-41.jpg' %}" alt="foto"></a>
        </col-4>
        <col-4 class="product-catalog-col">
            <a href="#"><img src="{% static 'img/product-5.jpg' %}" alt="foto"></a>
        </col-4>
        <col-4 class="product-catalog-col">
            <a href="#"><img src="{% static 'img/product-6.jpg' %}" alt="foto"></a>
        </col-4>
    </div>
</div>
<div class="reset"><img src="{% static 'img/reset.png' %}" alt="icon"></div>
<div class="exclusive clearfix">
    <div class="left-exclusive">
        <p class="p-exclusive margin-exclusive">бестселлер</p>
        <h3 class="exclusive-h2">Марк Лутц</h3>
        <p class="exclusive-content margin-exclusive">Изучаем Python. 3-е издание</p> <a href="#"
                                                                                         class="buttom margin-exclusive">Заказать</a>
    </div>
    <div class="right-exclusive">
        <p class="p-exclusive margin-exclusive">бестселлер</p>
        <h3 class="exclusive-h2">Гарри Поттер</h3>
        <p class="exclusive-content margin-exclusive">Вся серия</p> <a href=""
                                                                       class="buttom margin-exclusive">Заказать</a>
    </div>
</div>

<div class="clr"></div>

{% endblock %}