{% extends 'mainapp/base.html' %}
{% load static %}

{% block conteiner %}

<div class="slider-contact padding-site clearfix">

    {% include 'mainapp/includes/inc__main_menu.html' %}

    <div class="contact-us-product">Наши книги</div>
</div>

<div class="product-block">
    <div>
        <h3>
            Выберете категорию
        </h3>
    </div>
    <div class="product-menu">

        {% include 'mainapp/includes/inc__catalog_menu.html' %}

    </div>

    <div class="row product-catalog">
        {% for item in books %}
        <a href="{% url 'main:product_details' item.id %}">
            <img src="/media/{{ item.image }}" alt="photo">
        </a>
        {% endfor %}
    </div>
</div>

<div class="exclusive clearfix">
    <div class="left-exclusive">
        <p class="p-exclusive margin-exclusive">бестселлер</p>
        <h3 class="exclusive-h2">Марк Лутц</h3>
        <p class="exclusive-content margin-exclusive">Изучаем Python. 3-е издание</p>
        <a href="{% url 'basket:add_book' 1 %}"
           class="buttom margin-exclusive">
            Заказать
        </a>
    </div>
    <div class="right-exclusive">
        <p class="p-exclusive margin-exclusive">бестселлер</p>
        <h3 class="exclusive-h2">Гарри Поттер</h3>
        <p class="exclusive-content margin-exclusive">Вся серия</p>
        <a href="{% url 'basket:add_book' 2 %}"
           class="buttom margin-exclusive">
            Заказать
        </a>
    </div>
</div>

<div class="clr"></div>

{% endblock %}

