{% extends 'mainapp/base.html' %}
{% load static %}
{% block conteiner %}

<div class="slider-contact padding-site clearfix">

    {% include 'mainapp/includes/inc__main_menu.html' %}

    <div class="contact-us-product">Наши книги</div>
</div>
{{ item }}
<div class="product-block">
    <div>
        <h3>
            Выберете категорию
        </h3>
    </div>
    <div class="product-menu">

        {% include 'mainapp/includes/inc__catalog_menu.html' %}

    </div>

    <div class="row product-catalog">
        {% for item in books %}
        <a href="#">
            <img src="/media/{{ item.image }}" alt="foto">
        </a>
        {% endfor %}
    </div>
</div>
<div class="row details-row">
    <div class="col-6 details-left">
        <div class="main-foto"><img src="/media/{{ item.image }}" alt="photo"></div>
        <div class="color-foto">
            <div class="color-foto-1 color-foto-left"><a href="#"><img src="/media/{{ item.image }}" alt="photo"></a>
            </div>
            <div class="color-foto-1"><a href="#"><img src="/media/{{ item.image }}" alt="photo"></a></div>
            <div class="color-foto-1"><a href="#"><img src="/media/{{ item.image }}" alt="photo"></a></div>
        </div>
    </div>
    <div class="col-6 details-rigth">
        <div class="details-h2">{{ item.name }}</div>
        <p class="hot-deal-hot-deal details-p">скидки</p>
        <p class="details-p2"><span class="details-span">{{ item.price }}</span>/р</p>
        <a href="{% url 'basket:add_book' item.id %}" class="details-buttom">Купить</a>
        <p class="hot-deal-content">
            {{ item.description }}
        </p>
    </div>
</div>


<div class="clr"></div>

{% endblock %}
