{% extends 'mainapp/base.html' %}
{% load static %}
{% block conteiner %}

<div class="slider-contact-deails padding-site clearfix">


</div>
<div class="product-menu menu-deails">
    <ul class="product-menu-ul deails-ul">
        <li class="product-menu-lict-active"><a href="#" class="product-a dma">ВСЕ</a></li>
        <li class="product-menu-lict"><a href="#" class="product-a">РОМАНЫ</a></li>
        <li class="product-menu-lict"><a href="#" class="product-a">ФАНТАСТИКА</a></li>
        <li class="product-menu-lict"><a href="#" class="product-a">УЧЕБНАЯ ЛИТЕРАТУРА</a></li>
    </ul>
</div>
<div class="row deailes-row">
    <div class="col-6 deails-left">
        <div class="main-foto"><img src="{% static 'img/product-20.jpg' %}" alt="foto"></div>
        <div class="color-foto">
            <div class="color-foto-1 color-foto-left"><a href="#">
                <img src="{% static 'img/product-201_s.jpg' %}" alt="foto"></a>
            </div>
            <div class="color-foto-1"><a href="#"><img src="{% static 'img/product-202_s.jpg' %}" alt="foto"></a></div>
            <div class="color-foto-1"><a href="#"><img src="{% static 'img/product-203_s.jpg' %}" alt="foto"></a></div>
        </div>
    </div>
    <div class="col-6 deails-rigth">
        <div class="deails-h2">анна каренина</div>
        <p class="hot-deal-hot-deal deails-p">скидки</p>
        <p class="deais-p2"> <span class="deails-span">1500</span>/р</p>
        <a href="#" class="deails-buttom">Купить</a>
        <p class="hot-deal-content">Роман Льва Толстого о трагической любви замужней дамы Анны Карениной и
            блестящего офицера Вронского на фоне счастливой семейной жизни дворян Константина Лёвина и Кити Щербацкой.
            Масштабная картина нравов и быта дворянской среды Петербурга и Москвы второй половины XIX века,
            сочетающая философские размышления авторского alter ego Лёвина с передовыми в русской литературе
            психологическими зарисовками, а также сценами из жизни крестьян.
        </p>
    </div>
</div>
<div class="trending deails-related  clearfix">
    <h3 class="H3 trending-h3">другие книги</h3> <a href="#" class="explore trending-explore">показать все</a>
    <table class="trending-table deails-table">
        <tr class="tredding-tr">
            <td class="treding-td deails-td">
                <a href="#" class="treding-a"><img src="{% static 'img/product-11.jpg' %}" alt="foto" class="treding-img"></a>
            </td>
            <td class="treding-td deails-td">
                <a href="#" class="treding-a"><img src="{% static 'img/product-21.jpg' %}" alt="foto" class="treding-img"></a>
            </td>
            <td class="treding-td deails-td">
                <a href="#" class="treding-a"><img src="{% static 'img/product-31.jpg' %}" alt="foto" class="treding-img"></a>
            </td>
        </tr>
    </table>
</div>
<div class="clr"></div>

{% endblock %}
